.cart {
    padding-top: 50px;
}

.icon-plus-minus {
    margin: 0 5px;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.quantity select {
    padding: 10px;
    border: 1px solid #dddddd;
    background: #f0f1f3;
    border-radius: 8px;
    margin: 0 15px 0 0;
}

.quantity select:focus {
    outline: none;
}

.delete-item {
    border-left: 1px solid #ccc;
    padding-left: 10px;
    cursor: pointer;
    color: dodgerblue;
}