.forget{
    padding: 7% 0;
    text-align: center;
}

.forget .input{
    background-color: #f1f1f1;
    padding: 30px 30px;
}


.forget .input input, .input textarea 
{
    color: var(--color-black);
    border-radius: 5px;
    padding: 8px 0 8px 10px;
    width: 100%;
    height: auto;
    margin-top: 4%;
    font-size: 14px;
}

.forget .input input::placeholder, .input textarea::placeholder
{
    color: rgb(138, 138, 138);
}

.forget h4{
    font-weight: bold;
    font-size: 23px;
    color: black;
}

.forget p  
{
    font-size: 14px;
    color: black;
    padding-top: 5px;
}

.forget a.press{
    padding: 6px 30px;
    font-size: 14px;
}

.done{
    padding: 10% 0;
    text-align: center;
}

.done i{
    font-size: 35px;
    border: 3px solid #12b912;
    border-radius: 50px;
    width: 65px;
    height: 65px;
    color: #12b912;
    padding: 12px 13px;
}

.done h1{
    font-weight: bold;
    font-size: 35px;
}

.done h6{
    font-size: 15px;
    padding-top: 5px;
}

.done a.press{
    padding: 6px 30px;
    font-size: 14px;
}