.App {
    font-family: monospace;
    text-align: center;
}

.iGwPaM {
    background-color: white;
    border: double black 4px;
}

.fLbdjv {
    background-color: white;
    border: solid black 1px;
    border-radius: 0;
    color: black;
}

.iHZvIS {
    width: 100%;
}

.chCPrf {
    background-color: black;
    color: white;
    border-radius: 0;
    border: solid white 1px;
}

.gXAVlO,
.evabGF {
    background-color: black;
    border-radius: 0;
    border: solid white 1px;
    color: white;
    font-family: monospace;
}

.evabGF:hover {
    background-color: white;
    border-radius: 0;
    border: solid black 1px;
    color: black;
}

input {
    font-family: monospace;
}
